body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  border: solid red;
  margin: 0;
  min-height: 100vh;
}

.header,
.footer,
.top {
  background-color: #1F2937;
  color: #E5E7EB;
}

.header {
  display: flex;
  gap: 0px;
  padding: 16px 300px;
  border: solid red;
  justify-content: space-between;
}

.header-link {
  align-self: flex-end;
  border: solid red;
}

.header-logo {
  align-self: flex-start;
}

.top-text-main,
.header-logo {
  color: #F9FAF8;
  font-weight: 800;
}

.header-logo {
  font-size: 24px;
  border: solid red;
}

.top-text-main {
  font-size: 48px;
}

.header-link,
.top-text-sub {
  font-size: 18px;
  color: #E5E7EB;
}

.top-button,
.action {
  background-color: #3882F6;
}

.second-title {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.third {
  background-color: #E5E7EB;
}

.header,
.top,
.second,
.third,
.fourth,
.footer {
  flex: 1 1 auto;
}
